@using MS.Core.Language;
@using MS.Business;
@using MS.Web.Models.Others;
@using MvcContrib.UI.Grid;
@using MS.Web.Code.LIBS;

@model MS.Web.Areas.Admin.Models.CampaignsByCategoriesViewModel
@{
    ViewBag.Title = @Resource_tr_TR.UploadImages;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section HeadContent {
    @Styles.Render("~/Areas/Admin/Content/css/uploadfile.css",
            "~/Areas/Admin/Content/css/FileUpload.css",
                        "~/Areas/Admin/Content/bootstrap-switch.css",
                     "~/Areas/Admin/Content/dataTables.bootstrap.css",
                                             "~/Areas/Admin/Content/css/select2.css",
                                                     "~/Areas/Admin/Content/css/select2-bootstrap.css")
}
<section class="content-header">
    <h1>@Resource_tr_TR.UploadImage</h1>
</section>
@using (Html.BeginForm("Index", "Migroskop", FormMethod.Post, new { id = "editCampaignForm" }))
{
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("_AdminNotification")
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        <a data-toggle="modal" href="@Url.Action("addedit")" data-target="#modal-create-edit-Image" class="btn bg-orange">
                            @Resource_tr_TR.AddNew <i class="fa fa-plus"></i>
                        </a>
                    </h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table class="table table-responsive" id="tblS">
                        <thead>
                            <tr>
                                <th style="vertical-align: top">Görsel</th>
                                <th style="vertical-align: top">Başlık</th>
                                <th style="vertical-align: top">Başlangıç Tarihi</th>
                                <th style="vertical-align: top">Bitiş Tarihi</th>
                                <th style="vertical-align: top">Durum</th>
                                <th style="vertical-align: top"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorFor(model => model.Campaigns)
                        </tbody>
                    </table>
                </div>


                
            </div>
        </div>
    </div>
    @Html.Partial("_Modal", new Modal { ID = "modal-create-edit-Image", AreaLabeledID = "modal-create-edit-Image-label", Size = ModalSize.Medium })
    @Html.Partial("_Modal", new Modal { ID = "modal-delete-Image", AreaLabeledID = "modal-delete-Image-label" })
    @Html.Partial("_Modal", new Modal { ID = "modal-add-photos", AreaLabeledID = "modal-add-photos-label", Size = ModalSize.Medium })
   
   
</section>
<div class="modal-footer">
    @*  <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Campaign", new { campaignmodel=Model })'" id="btnSubmit">@Resource_tr_TR.Submit</button>*@


    <button type="button" class="btn btn-primary" id="btnSubmitx">@Resource_tr_TR.Submit</button>
</div>


}
@section ScriptContent{
    @Scripts.Render(
"~/Areas/Admin/Script/jquery.dataTables.js",
        "~/Areas/Admin/Script/dataTables.bootstrap.js",
          "~/Areas/Admin/Script/global.js",
             "~/Scripts/jquery.uploadfile.js",
          "~/Areas/Admin/Script/bootstrap-switch.js",
           "~/Scripts/select2.js",
                  "~/Areas/Admin/Script/views/Migroskop-index.js")

<script>

    $("#btnSubmitx").click(function (e) {
        e.preventDefault();
        //var formdata= $("#editCampaignForm").serialize();
        $.ajax({
            url: '@Url.Action("Edit", "Migroskop")',
            type: 'POST',
            data: $("#editCampaignForm").serialize(),
            success: function (data) {
                if (data.isRedirect) {
                    url = '@Url.Action("Index", "Migroskop")';
                    window.location.href = url;/// + '?catid=' + data.id + '&campaignstatus=true';
                }
            }
        });
    });


    $(document).ready(function () {
        $("form").submit(function (e) {
            e.preventDefault(); //prevent default form submit
            $.ajax({
                url: '@Url.Action("addedit", "Migroskop")',
                type: 'POST',
                data: $("form").serialize(),
                success: function (data) {
                   //// alert(data);
                   // if (data.isRedirect) {
                        url = '@Url.Action("Index", "Migroskop")';
                        window.location.href = url;/// + '?catid=' + data.id + '&campaignstatus=true';
                    ///}
                }
            });
        });
    });

  

</script>

}

