@using MS.Web.Models.Others;
@using MS.Web.Code.LIBS;
@using MS.Core.Language;
@model MS.Web.Areas.Admin.Models.SallaKazanViewModel

<div id="category-box">
    @using (Html.BeginForm("addedit", "SallaKazan", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_ModalHeader", new ModalHeader { ID = "modal-create-edit-SallaKazan", Title = (Model.id <= 0 ? Resource_tr_TR.Create : Resource_tr_TR.Edit) + " SallaKazan" })
        <div id="validation-summary"></div>
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)
        <div class="modal-body box-body">

            <div class="row">
                <div class="form-group">

                    @Html.LabelFor(model => model.UrunAdi)
                    @Html.TextBoxFor(model => model.UrunAdi, true, null, new { @class = "form-control", @data_msg_required = Resource_tr_TR.required })
                </div>
            </div>

            <div class="row">
                <div class="form-group">

                    @Html.LabelFor(model => model.KampanyaID)
                    @Html.TextBoxFor(model => model.KampanyaID, true, null, new { @class = "form-control", @data_msg_required = Resource_tr_TR.required, @data_msg_number = "number only" })
                </div>
            </div>
            <div class="row">
                <div class="form-group">

                    @Html.LabelFor(model => model.Kota)
                    @Html.TextBoxFor(model => model.Kota, true, null, new { @class = "form-control", @data_msg_required = Resource_tr_TR.required, @data_msg_number = "number only" })
                </div>
            </div>

            <div class="row">
                <div class="form-group">

                    @Html.LabelFor(model => model.Metin)

                    @if (Model.id > 0)
                    {

                        @Html.DropDownListFor(model => model.Metin, new SelectList(ViewBag.MetinList, "Value", "Text", Model.Metin), new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.Metin, new SelectList(ViewBag.MetinList, "Value", "Text"), new { @class = "form-control" })
                    }
                </div>
            </div>


            <div class="row">
                <div class="form-group">

                    @Html.LabelFor(model => model.IndirimOran)
                    @Html.TextBoxFor(model => model.IndirimOran, true, null, new { @class = "form-control", @data_msg_number = "number only" })
                </div>
            </div>



            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.BaslangicTarih)
                    @Html.TextBoxFor(model => model.BaslangicTarih, new { @class = "form-control", @Value = Model.BaslangicTarih.ToString("dd.MM.yyyy") })
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.BitisTarih)
                    @Html.TextBoxFor(model => model.BitisTarih, new { @class = "form-control", @Value = Model.BitisTarih.ToString("dd.MM.yyyy") })

                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-lg-6">
                        @Html.CheckBoxFor(model => model.Durum, new { @class = "minimal" }) @Html.Label(Resource_tr_TR.Active)
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-lg-6">
                    @Html.LabelFor(model => model.UrunGorsel)

                </div>
                <div class="col-lg-6">
                    <a data-toggle="modal" href="@Url.Action("AddPhotos")" data-target="#modal-add-photos" class="btn bg-maroon btn-flat btn-sm">
                        @Resource_tr_TR.UploadImage <i class="fa fa-upload"></i>
                    </a>
                    <br />
                    <div id="divimages" class="upload_images upload-gallery">
                        @if (Model.id > 0 && Model.UrunGorsel != null)
                        {
                            <div class='single' rel='@Model.UrunGorsel'><img src="@Url.Content(Model.UrunGorsel)" /></div>
                            <div class="ajax-file-upload-red deletePhoto" rel="@Model.UrunGorsel" style="display: inline-block;">Delete</div>
                        }
                    </div>
                    @Html.Hidden("UploadedImages", Model.UrunGorsel)

                </div>

            </div>
        </div>
        @Html.Partial("_ModalFooter", new ModalFooter())
    }
</div>
